[Desktop Entry]
Name=resolveurl
Exec=./qtc_device_debughelper.py app "qmlscene $@ Main.qml"
Icon=resolveurl.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

